<%- include('header')-%>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <%- include('topNav')-%>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
      
      <h1 class="text-center">Welcome</h1>
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <%- include('footer')-%>

    
