<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>25 Tech</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/user/css/blog-home.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/user/css/style.css">


    <script src="/static/socket.io.js"></script>

  </head>
